.menu{
    height:50px;
    width:400;
    border:2px solid green;
    font:20px Arial;
    display:flex;
    justify-content: space-around;
}
 .none{
    border:2px solid red
 }

.principal{
    border:3px solid blue;
    padding: 10px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.secciones{
    border:2px solid green;
    margin: 5px;
    padding: 5px;
}
img{
    width: 300px;
    height: 300px;
}
